.sidebar {
  width: 100%;
  height: 100vh;
  background-color: #10273a;
  padding-top: 20%;
}

.sidebar a {
  color: rgb(221, 213, 213);
  font-weight: 600;
  font-size: 1em;
  margin-top: 25px;
}

.sidebar a:hover {
  text-decoration: none;
  color: white;
}
