header h1 {
  font-size: 60px;
}
header {
  height: 680px;
  border: 1px solid green;
  color: white;
}
.header-text {
  margin-top: 120px;
}
.main-title {
  color: #4dc5af;
}
.main-button {
  background-color: transparent !important;
  color: #4dc5af !important;
  border-radius: 10px;
  border: 1px solid #4dc5af;
  width: 150px;
}
